<!doctype html>
<html ng-app="readerApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="SubscriptionsController as subscription" class="subscription">
        <div class="header">
            <button ng-click="subscription.add()">+</button>
        </div>
        <div ng-repeat="sub in subscription.subscriptions">
            {{sub.name}}
        </div>
    </div>
    <div ng-controller="ViewController as view">
     </div>
</body>
</html>
